/* -------------------------------- 

File#: _2_chart
Title: Chart
Descr: A plugin to create custom SVG charts
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --chart-height: 360px;
    --chart-data-line-stroke-width: 2px;
    --chart-marker-size: 4px;
    --chart-axis-stroke-width: 1px;
    --chart-guides-stroke-width: 1px;
    --chart-y-indicator-dash: 3px;
    --chart-y-indicator-stroke-width: 1px;
    --chart-data-color: var(--color-primary);
    --chart-data-fill-opacity: 0.2;
    --chart-legend-bullet-size: 10px;
}

.chart__area {
    position: relative;
    height: var(--chart-height);
}

.chart__svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.chart__svg text {
    fill: var(--color-contrast-high);
}

.chart__tooltip {
    position: absolute;
    font-size: var(--text-xs);
    background-color: var(--color-contrast-lower);
    padding: var(--space-sm);
    pointer-events: none;
    white-space: nowrap;
}

.chart__bullet {
    display: block;
    width: var(--chart-legend-bullet-size);
    height: var(--chart-legend-bullet-size);
    /* border-radius: 50%; */
    flex-shrink: 0;
    margin-top: -5px;
}

.chart__axis-legend {
    font-size: var(--text-xs);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chart__axis-label {
    font-size: var(--text-xs);
    pointer-events: none;
}

.chart__axis {
    pointer-events: none;
    stroke: var(--color-contrast-low);
    stroke-width: var(--chart-axis-stroke-width);
}

.chart__tick {
    stroke-width: var(--chart-axis-stroke-width);
    stroke: var(--color-contrast-low);
}

.chart__guides {
    fill: transparent;
    stroke-width: var(--chart-guides-stroke-width);
    stroke: var(--color-contrast-lower);
}

.chart__dataset {
    pointer-events: none;
}

.chart__data-line {
    fill: none;
    stroke-width: var(--chart-data-line-stroke-width);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--chart-data-color);
}

.chart__data-fill {
    pointer-events: none;
    fill: none;
}

.chart--area .chart__data-fill {
    fill: var(--chart-data-color);
    opacity: var(--chart-data-fill-opacity);
}

.chart__marker {
    r: var(--chart-marker-size);
    opacity: 0;
    fill: var(--chart-data-color);
}

.chart__marker--selected {
    opacity: 1;
}

.chart__y-indicator {
    stroke-width: var(--chart-y-indicator-stroke-width);
    stroke: var(--color-contrast-low);
    stroke-dasharray: var(--chart-y-indicator-dash);
    pointer-events: none;
}

.chart__data-bar {
    pointer-events: none;
    fill: var(--chart-data-color);
}

.chart--column .chart__marker {
    visibility: hidden;
}

.chart--column .chart__y-indicator {
    display: none;
}
.bg-primary{
    background-color:var(--primary-color);
}
.bg-contrast-high, .bg-contrast-higher{
    background-color:var(--primary-color-light);
}
.bg-warning,.bar-chart-third{
    background-color:#0271D0;
}
.bg-error-chart{
    background-color:#004bbe;
}
.doughnutfirst,.bar-chart-second{
    background-color:#05BFFF;
}
.doughnutsecond{
    background-color:#004BBE;
}
.bar-chart-first{
    background-color:#0A9EF2;
}
.bar-chart-fourth{
    background-color:#068AF0;
}