/* -------------------------------- 

File#: _1_tabbed-navigation-v2
Title: Tabbed Navigation v2
Descr: Tabbed (secondary) navigation
Usage: codyhouse.co/license

-------------------------------- */
.tabs-nav-v2 {
    /* --tabs-nav-border-width: 2px;
    display: flex;
    flex-wrap: wrap; 
    border-bottom: var(--tabs-nav-border-width) solid var(--color-contrast-low);*/
}
/* 
.tabs-nav-v2 li {
    display: inline-block;
    margin-right: var(--space-xs);
    margin-bottom: var(--space-xs);
}

.tabs-nav-v2__item {
    display: inline-block;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-md);
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.1);
    color: inherit;
    white-space: nowrap;
    text-decoration: none;
} */

/* .tabs-nav-v2__item--selected,
.tabs-nav-v2__item[aria-selected=true] {
    color: var(--color-bg);
    background-color: var(--color-contrast-higher);
} */

@media (min-width: 64rem) {
    .tabs-nav-v2 li {
        margin: 0;
    }

    /* .tabs-nav-v2__item {
        border-radius: var(--radius-md) var(--radius-md) 0 0;
        background-color: transparent;
        border: var(--tabs-nav-border-width) solid transparent;
        border-bottom-width: 0;
        transition: 0.2s;
    } */

    /* .tabs-nav-v2__item:hover {
        background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.075);
    }

    .tabs-nav-v2__item--selected,
    .tabs-nav-v2__item[aria-selected=true] {
        position: relative;
        background-color: var(--color-bg);
        color: var(--color-primary);
        border-color: var(--color-contrast-low);
    } */

    .tabs-nav-v2__item--selected::after,
    .tabs-nav-v2__item[aria-selected=true]::after {
        content: "";
        position: absolute;
        bottom: calc(var(--tabs-nav-border-width) * -1);
        left: 0;
        width: 100%;
        height: var(--tabs-nav-border-width);
        background-color: var(--color-bg);
    }

    /* .tabs-nav-v2__item--selected:hover,
    .tabs-nav-v2__item[aria-selected=true]:hover {
        background-color: var(--color-bg);
    } */
}
